@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
  #box {
    visibility: hidden;
  }
  h1 {
    color: yellow;
  }
  h2 {
color: yellow;
  }

.mobile-gif {
  
}


}
